@model LoginFormASPcore.Models.EventBooking

@{
    ViewData["Title"] = "Book Event";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}



<div>
    <h1>🎫 Book Your Event Tickets</h1>
    <h2>Welcome, @ViewBag.MySession</h2>
    <a asp-controller="Home" asp-action="Logout">Logout</a>
</div>

<br />

<div class="form-card">
    <div class="form-header card-header bg-primary text-white">
        <h5>Book Your Tickets</h5>
    </div>
    <div class="form-body">
        <form asp-action="BookEvent" id="ticket-form" method="post">
            <div class="form-group mb-3">
                <label asp-for="EventName" class="form-label">Select a category</label>
                <select asp-for="EventName" class="form-control" required>
                    <option value="">Select an event</option>
                    <option value="Football">Football</option>
                    <option value="Cricket">Cricket</option>
                    <option value="Conference">Conference</option>
                    <option value="Seminar">UrbanGreen Turf</option>
                    <option value="Workshop">FreshPlay Arena</option>
                </select>
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="EventDate" class="form-label">Event Date and Time</label>
                <input asp-for="EventDate" type="datetime-local" class="form-control" required />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Ticket Price (INR)</label>
                <input type="text" class="form-control" value="1000" readonly />
            </div>


            <div class="form-group mb-3">
                <label asp-for="BookedBy" class="form-label">Booked By (Email)</label>
                <input asp-for="BookedBy" type="email" class="form-control" />
                <span asp-validation-for="BookedBy" class="text-danger"></span>
            </div>

            <div class="form-action d-grid">
                <button type="submit" id="book-ticket" class="btn btn-primary">Book Tickets</button>
            </div>
        </form>
    </div>
</div>

<br />
<br />
<br />

<!-- Validation Summary -->
<div>
    <span asp-validation-summary="ModelOnly" class="text-danger"></span>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

